# Java
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
## Java build
build/
!**/src/main/**/build/
!**/src/test/**/build/
## Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar
local.properties
### Ignore Gradle GUI config
gradle-app.setting
### Cache of project
.gradletasknamecache
## Spring
application-local.properties
## Out
**/nohup.out

# Intellij
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Vscode
.vscode/

# Nodejs
node_modules

