
.nav {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
  overflow-x: auto;
}

.nav_item {
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  color: #555;
  font-weight: 500;
  border-radius: 4px;
  margin-right: 10px;
}

.nav_item:hover {
  background: #ddd;
}

.nav_item.active {
  background-color: #1890ff30;
}
