.main-icon {
  display: flex;
}

.main-icon svg {
  width: 18px;
  height: 18px;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0;
  overflow: hidden;
  overflow-x: auto;
}

.nav_item {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  color: #555;
  font-weight: 500;
}

.nav_item::after {
  content: ' ';
  position: absolute;
  bottom: 6px;
  left: 20px;
  right: 20px;
  /* border-bottom: 2px solid transparent; */
  height: 2px;
  border-radius: 2px;
}

.nav_item:hover::after {
  background-color: #ddd;
}

.nav_item.active::after {
  background-color: #1890ff;
}
