
.sheet {
  padding: 0;
}

/* __________ content __________ */

.sheet-body {
  position: relative;
}

/* __________ peak __________ */

.sheet-peak {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 30px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* __________ rows __________ */

.sheet-rows {
  position: absolute;
  left: 0;
  top: 30px;
}

/* __________ row __________ */

.sheet-row-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

.sheet-row-line {
  position: absolute;
  border-top: 1px solid #ddd;
  background-color: red;
}

/* __________ cols __________ */

.sheet-cols {
  position: absolute;
  top: 0;
  left: 50px;
}

/* __________ col __________ */

.sheet-col-header {
  position: absolute;
  top: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

.sheet-col-line {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid #ddd;
  background: red;
}

.sheet-col-line:first-child {
  border-left-color: transparent;
}

/* __________ cell __________ */

.sheet-cell {
  position: absolute;
  display: flex;
  align-items: center;
  background: #fff;
}

.sheet-cell-editor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border: 1px solid transparent;
  padding: 1px;
}

.sheet-cell.active {
  z-index: 100;
}

.sheet-cell.active .sheet-cell-editor {
  border-color: #1890ff;
  background: #fff;
  box-shadow: 0 0 2px 1px #00000030;
}
