
.sheet {
  padding: 0;
}

/* __________ content __________ */

.sheet-content {
  position: relative;
}

/* __________ row __________ */

.sheet-row-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.sheet-row {
  position: absolute;
  border-top: 1px solid #ddd;
}

/* __________ col __________ */

.sheet-col-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.sheet-col {
  position: absolute;
  border-left: 1px solid #ddd;
}

.sheet-col:first-child {
  border-left-color: transparent;
}

/* __________ cell __________ */

.sheet-cell {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
}

.sheet-cell-key {
  position: absolute;
  z-index: 10000;
  right: 0;
  top: 0;
  transform: scale(0.7);
  background: #000;
  color: #fff;
  opacity: 0.5;
  padding: 0 4px;
}
