
.sheet {
  padding: 0;
}

/* __________ content __________ */

.sheet-body {
  position: relative;
}

.sheet-peak {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 30px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

/* __________ row __________ */

.sheet-row-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

.sheet-row {
  position: absolute;
  border-top: 1px solid #ddd;
}

/* __________ col __________ */

.sheet-col-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

.sheet-col {
  position: absolute;
  border-left: 1px solid #ddd;
}

.sheet-col:first-child {
  border-left-color: transparent;
}

/* __________ cell __________ */

.sheet-cell {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
}
