
.catalog_tree {
  border-right: 1px solid #ddd;
  position: fixed;
  top: 60px;
  bottom: 10px;
}

.catalog_tree_body {
  padding-right: 10px;
}

/* ant */

.ant-tree {
  line-height: 30px;
}

.ant-tree .ant-tree-treenode-draggable .ant-tree-draggable-icon {
  display: none !important;
}

.ant-tree .ant-tree-treenode {
  padding: 0 0 2px 0;
}

.ant-tree .ant-tree-node-content-wrapper {
  border-radius: 6px;
  line-height: 30px;
  min-height: 30px;
  padding: 0 6px;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #1890ff30;
}
