
.catalog-side {
  position: fixed;
  top: 0;
  bottom: 0;
}

.catalog-side-body {
  position: absolute;
  border-right: 1px solid #ddd;
  left: 0;
  right: 20px;
  top: 0;
  bottom: 0;
}

.catalog-header {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  background-color: #fff;
}

.catalog_node_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalog_node_title_ops {
  display: none;
}

.catalog_node_title:hover .catalog_node_title_ops {
  display: block;
}

/* ant-tree */

.ant-tree .ant-tree-treenode-draggable .ant-tree-draggable-icon {
  display: none !important;
}

.ant-tree {
  line-height: 30px;
}

.ant-tree-switcher .ant-tree-switcher-icon, 
.ant-tree-switcher .ant-select-tree-switcher-icon {
  vertical-align: top;
  margin-top: 10px;
}

.ant-tree .ant-tree-treenode {
  padding: 0 0 2px 0;
}

.ant-tree .ant-tree-node-content-wrapper {
  border-radius: 4px;
  line-height: 30px;
  min-height: 30px;
  padding: 0 6px;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #1890ff30;
}
