.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.body {
  padding: 60px 10px 10px;
}

html,
body,
.body {
  background-color: #ffffff;
}

html {
  overflow: hidden;
  overflow-x: auto;
  overflow-y: scroll;
}

/* component */
/* ========= */

.component_title {
  font-size: 120%;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 0 10px;
}
