.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.body {
  padding: 60px 10px 10px;
}

html,
body,
.body {
  background-color: #ffffff;
}

html {
  overflow: hidden;
  overflow-x: auto;
  overflow-y: scroll;
}

/* com */
/* === */

.com_header {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.com_title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 10px;
}

.com_ops {
  margin-right: 10px;
}

.com_op {
  margin-right: 10px;
  margin-bottom: 10px;
}

.com_body {
  padding: 0 10px;
  max-width: 1000px;
}

.com_cards {
  display: flex;
}

.com_card {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 6px;
}

.com_secondary {
  color: #666;
}

/* basic */
/* ===== */

h1,
h1 * {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

h2,
h2 * {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

h3,
h3 * {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

pre, 
p {
  margin-bottom: 10px;
  padding: 0;
}

hr {
  margin: 10px 0;
  border: 0 none;
  height: 1px;
  background-color: #eee;
}

br {
  margin: 0;
  padding: 0;
}
