
.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.body {
  padding: 0;
}

html,
body,
.body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

html {
  overflow: auto;
}

/* com */
/* === */

.com_bread,
.com-bread,
.com-breadcrumb {
  margin: 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.com_header,
.com-header {
  margin: 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.com_title,
.com-title {
  color: #555;
  font-weight: 500;
  margin-right: 10px;
}

.com_ops,
.com-ops {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.com_op,
.com-op {
  margin-right: 10px;
}

.com_body,
.com-body {
  padding: 0 10px;
}

.com_cards,
.com-cards {
  display: flex;
  flex-wrap: wrap;
}

.com_card,
.com-card {
  min-width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.com_secondary,
.com-secondary {
  color: #666;
}

.btn_text,
.btn-text {
  padding: 0;
  border: 0 none;
  background-color: transparent;
  color: #555;
}

/* basic */
/* ===== */

h1,
h1 *,
.block.h1,
.block.h1 * {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

h2,
h2 *,
.block.h2,
.block.h2 * {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

h3,
h3 *,
.block.h3,
.block.h3 * {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

h4,
h4 *,
.block.h4,
.block.h4 * {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

h5,
h5 *,
.block.h5,
.block.h5 * {
  font-size: 1.0rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

.block,
.inline {
  font-size: 1.0rem;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

pre, 
p,
.block {
  display: block;
  margin-bottom: 10px;
  padding: 0;
}

pre, code, kbd, samp, .code-block, .code-block .inline {
  font-family: "Verily", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

hr {
  margin: 10px 0;
  border: 0 none;
  height: 1px;
  background-color: #ddd;
}

br {
  margin: 0;
  padding: 0;
}

/* icon */

.inline.icon {
  padding: 0 2px;
  margin: 0 4px;
}

.inline.icon.active {
  box-shadow: 0 0 0 1px #1890ff;
}
