
/* _________ outlines _________ */

.editor-outline-body {
  flex-grow: 1;
}

.editor-outline-item {
  display: flex;
  align-items: stretch;
  line-height: 30px;
  min-height: 30px;
  color: #555;
  padding: 0 6px;
  border-radius: 0;
}

.editor-outline-item:hover {
  color: #333;
  background-color: #eee;
}

.editor-outline-item-lines {
  display: flex;
  align-items: stretch;
}

.editor-outline-item-line-body {
  width: 20px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.editor-outline-item-line {
  width: 1px;
  background-color: #ddd;
}

.editor-outline-item-line-body.last .editor-outline-item-line {
  background-color: transparent;
}

.editor-outline-item-text {
  position: relative;
}

.editor-outline-item-indicator {
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
}

.editor-outline-item-dot {
  margin-top: 14px;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background-color: #bbb;
}

/* _________ image ________ */

.image-body {
  position: relative;
}

.image-img {
  display: block;
  max-width: 100%;
}

.image-block.active .image-img {
  box-shadow: 0 0 0 3px #1890ff50;
}

.image-ops {
  position: absolute;
  left: 5px;
  top: 5px;
  display: none;
}

.image-block:hover .image-ops {
  display: flex;
}

/* _________ link _________ */

.link.active {
  box-shadow: 0 0 0 3px #1890ff50;
}
