
/* Image: */

.image-body {
  position: relative;
}

.image-img {
  display: block;
  max-width: 90%;
}

.image-block.active .image-img {
  box-shadow: 0 0 0 3px #b4d5ff;
}

.image-ops {
  position: absolute;
  left: 5px;
  top: 5px;
  display: none;
}

.image-block:hover .image-ops {
  display: flex;
}


/* Link: */

.link.active {
  box-shadow: 0 0 0 3px #b4d5ff;
}


.wiki_time {
  color: #00000073;
}


/* Wiki List */

.wiki_list_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
}

.wiki_list_item_title {
  margin-right: 10px;
}

.wiki_list_item:hover {
  background-color: #eee;
  cursor: pointer;
}

/* Wiki Breadcrumb */

.wiki_breadcrumb_body {
  display: flex;
  align-items: center;
}

.wiki_breadcrumb_body * {
  color: #00000073;
  font-weight: normal;
}

.wiki_breadcrumb_content {
  padding: 0 4px;
}

