
/* Wiki Toc: */

.wiki-toc {
  position: fixed;
  bottom: 0;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.toc-content {
  flex-grow: 1;
}

.toc-item {
  display: flex;
  align-items: stretch;
  line-height: 30px;
  min-height: 30px;
  color: #555;
  padding: 0 6px;
  border-radius: 2px;
}

.toc-item:hover {
  color: #333;
  background-color: #eee;
}

/* Toc Lines: */

.toc-lines {
  display: flex;
  align-items: stretch;
}

.toc-line-body {
  width: 20px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.toc-line {
  width: 3px;
  background-color: #ddd;
}

.toc-line-body.last .toc-line {
  background-color: transparent;
}

/* Toc Text: */

.toc-text {
  position: relative;
}

/* Toc Indicator: */

.toc-indicator {
  position: absolute;
  left: -13px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
}

.toc-dot {
  margin-top: 11px;
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #bbb;
}

/* Wiki Top: */

.wiki-top {
  min-height: 110px;
}

/* Wiki Breadcrumb: */

.wiki-breadcrumb {
  padding: 4px 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

/* Wiki Head: */

.wiki-head {
  padding: 4px 10px;
  min-height: 70px;
}

/* Wiki Title: */

.wiki-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.wiki-time {
  color: #00000073;
}

/* Wiki Body: */

.wiki-body {
  overflow: auto;
}

.wiki_content {
  padding: 10px;
}

/* Image: */

.image-body {
  position: relative;
}

.image-img {
  display: block;
  max-width: 100%;
}

.image-block.active .image-img {
  box-shadow: 0 0 0 3px #1890ff50;
}

.image-ops {
  position: absolute;
  left: 5px;
  top: 5px;
  display: none;
}

.image-block:hover .image-ops {
  display: flex;
}


/* Link: */

.link.active {
  box-shadow: 0 0 0 3px #1890ff50;
}

.wiki_time {
  color: #00000073;
}


/* Wiki List */

.wiki_list_item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
}

.wiki_list_item_title {
  margin-right: 10px;
}

.wiki_list_item:hover {
  background-color: #eee;
  cursor: pointer;
}

/* Wiki Breadcrumb */

.wiki_breadcrumb_body {
  display: flex;
  align-items: center;
}

.wiki_breadcrumb_body * {
  color: #00000073;
  font-weight: normal;
}

.wiki_breadcrumb_content {
  padding: 0 4px;
}

