
/* _________ toc _________ */

.wiki-outline {
  position: fixed;
  z-index: 100;
  bottom: 0;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}

/* __________ wiki-top __________ */

.wiki-head {
  padding: 0 10px;
}

.wiki-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.wiki-time {
  color: #00000073;
}

/* __________ wiki-body __________ */

.wiki-body {
  overflow: auto;
  padding: 10px;
}

.wiki_content {
  padding: 0;
}

/* _________ image ________ */

.image-body {
  position: relative;
}

.image-img {
  display: block;
  max-width: 100%;
}

.image-block.active .image-img {
  box-shadow: 0 0 0 3px #1890ff50;
}

.image-ops {
  position: absolute;
  left: 5px;
  top: 5px;
  display: none;
}

.image-block:hover .image-ops {
  display: flex;
}


/* Link: */

.link.active {
  box-shadow: 0 0 0 3px #1890ff50;
}

.wiki_time {
  color: #00000073;
}


/* Wiki List */

.wiki_list_item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
}

.wiki_list_item_title {
  margin-right: 10px;
}

.wiki_list_item:hover {
  background-color: #eee;
  cursor: pointer;
}

/* Wiki Breadcrumb */

.wiki_breadcrumb_body {
  display: flex;
  align-items: center;
}

.wiki_breadcrumb_body * {
  color: #00000073;
  font-weight: normal;
}

.wiki_breadcrumb_content {
  padding: 0 4px;
}

