.wiki_list_title {
  margin-bottom: 10px;
  font-weight: 500;
  padding: 0 10px;
}

.wiki {
  border-width: 1px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
  background-color: #fff;
  padding: 10px;
}

.wiki:hover {
  background-color: #eee;
  cursor: pointer;
}
